<div class="container">
  <div class="card my-5 text-secondary border-light">
    <img src="https://webdev.alphacamp.io/posters/{{movie.image}}" class="card-img  opacity-25" alt="...">
    <div class="card-img-overlay">
      <h1 class="card-title text-center fw-bold">{{movie.title}}</h1>
      <p class="card-text-date text-center">
        <strong>Release Date:</strong> {{movie.release_date}}
      </p>
      <p class="card-text-description">{{movie.description}}</p>
    </div>
  </div>
</div>