<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="card my-5 text-secondary border-light w-50">
      <img src="https://webdev.alphacamp.io/posters/{{movie.image}}" class="card-img  opacity-25" alt="...">
      <div class="card-img-overlay">
        <h1 class="card-title text-center fw-bold mt-4">{{movie.title}}</h1>
        <p class="card-text-date text-center">
          <strong>Release Date:</strong> {{movie.release_date}}
        </p>
        <p class="card-text-description px-4">{{movie.description}}</p>
      </div>
    </div>
  </div>
</div>